@import url("https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext");
/* Variables */
/* Media queries */
@media (max-width: 755px) {
  .wrapper {
    flex-wrap: wrap;
    margin: auto;
    gap: 2vh;
  }
  .sidebar {
    flex-grow: auto;
    text-align: center;
  }
  .left {
    order: 1;
  }
  .left ul {
    -moz-columns: 2;
         columns: 2;
  }
  .center {
    order: 3;
  }
  .center .post {
    margin: 0 1rem;
  }
  .right {
    order: 2;
    display: flex;
    flex-direction: row;
  }
  .right .authors-box,
  .right .tags-box {
    min-width: 50%;
    margin: 0 auto;
  }
}
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #fff;
  font-family: "Source Sans Pro", sans-serif;
  color: #444;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}
body a:link {
  text-decoration: none;
}
body a {
  color: #444;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
}
.section-title span {
  text-transform: none;
  font-weight: 400;
  color: #777777;
}

/* Layout */
.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
  text-align: center;
}
.sidebar button {
  background: none;
  border: 2px solid gray;
  color: gray;
  margin: 10px;
  padding: 10px;
}
.sidebar button:hover {
  color: black;
  border: 2px solid black;
  transition: 0.1s all ease-in-out;
}
.sidebar button:active {
  scale: 110%;
  color: green;
  border: 2px solid green;
  transition: 0.2s all ease-in-out;
}

.posts {
  flex: 2 0 0;
  position: relative;
  min-width: 50%;
  padding: 20px;
}

.sidebar, .posts {
  background: #fff;
  margin-right: 10px;
  padding: 40px 20px;
  border: 1px solid #444;
  border-radius: 5px;
}

/* Logo */
.logo {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
}

/* Lists */
.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.list .active {
  font-weight: bold;
  font-size: 1.05rem;
}

.list-horizontal li {
  display: inline-block;
}

/* Authors */
.authors li {
  margin-bottom: 12px;
}

/* Post */
.post {
  position: absolute;
  top: 0;
  display: block;
  opacity: 0;
  margin: auto;
  z-index: 1;
}
.post.active {
  z-index: 4;
  opacity: 1;
  transition: 0.5s all ease-in-out;
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
}
.post-tags ul li a {
  color: red;
}
.post-tags ul li a:link {
  text-decoration: underline;
}
.post-tags ul li a:hover {
  scale: 110%;
  transition: 0.1s all ease-in-out;
}
.post-tags p {
  margin: 0 10px 0 0;
}

.right-tall {
  display: flex;
  flex-direction: column;
}

.left-tall ul {
  -moz-columns: 1;
       columns: 1;
}

.right-short {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
  padding: 40px 10px;
}
.right-short .tags-box {
  padding-right: 4px;
  min-width: 50%;
}

.left-short ul {
  -moz-columns: 2;
       columns: 2;
}/*# sourceMappingURL=style.css.map */